.ticket {
    width: 90%;
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 3px;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
    height: minmax(200px, 1fr);
    animation: moveInBottom linear 1s;
    transition: all .3s;
}



.ticket:hover {
    transform: translateY(-0.5rem) scale(1.03);
}

.ticket__status {
    background-color: rgb(150, 209, 150);
    width: 100%;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
}

.ticket-data {
    display: flex;
    align-items: center;
    font-size: 20rem;
    font-weight: 300;
}

@keyframes moveInBottom {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }